.footer {
    background-color: $background-color-dark;

    &__content {
        display: flex;
        max-width: $breakpoint-desktop;
        margin: 0 auto;
        padding: 1rem 0;
        color: $text-color-light;
    }

    &__logo {
        display: block;
        height: 4rem;
        padding: 0 8rem;
        background-color: aquamarine;
    }

    &__margin_top {
        margin-top: 2rem;
    }
}
