.footer {
    margin: 0 auto;

    &_content {
        margin: 0 10px;
        padding: 10px;
        background-color: $background-color-dark;

        &__top {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            @media (min-width: $breakpoint-md) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }

    &_logo {
        height: 60px;
    }

    &_information {
        flex-shrink: 0;
        color: $text-color-light;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;

        @media (min-width: $breakpoint-md) {
            text-align: left;
        }
    }

    &_links {
        display: none;
        margin-right: auto;

        @media (min-width: $breakpoint-md) {
            display: flex;
            flex-wrap: wrap;
            margin-right: 60px;
        }
    }

    &_link {
        color: $text-color-light;
        text-decoration: underline;
    }

    &_link:not(:first-child) {
        margin-left: 10px;
    }

    &_additional_information {
        margin: 20px auto 0 auto;
        color: $text-color-gray;
        font-weight: 400;
        text-align: center;

        @media (min-width: $breakpoint-md) {
            display: flex;
            justify-content: space-between;
            margin: 20px 0 auto 0;
            text-align: left;
        }
    }

    @media (min-width: $breakpoint-xl) {
        max-width: $breakpoint-xl;
    }
}
