.header {
    &_top {
        &__content {
            display: flex;
            align-items: center;
            width: $breakpoint-desktop;
            padding: 0.3rem 0;
            margin: 0 auto;
        }

        &__link {
            color: $text-color-dark;
            font-weight: 600;

            &:not(:first-child) {
                margin-left: 1rem;
            }
        }

        &__phone {
            margin-left: auto;
            color: $text-color-dark;
            font-size: 1.2rem;
        }

        &__link__icon {
            width: 26px;
            height: 26px;
            margin-left: 0.4rem;
        }
    }

    &_main {
        background-color: $background-color-dark;

        &__content {
            display: flex;
            align-items: center;
            width: $breakpoint-desktop;
            padding: 1.6rem 1rem;
            margin: 0 auto;
        }

        &__logo {
            height: 4rem;
            padding: 0 8rem;
            background-color: aquamarine;
        }

        &__link {
            color: $text-color-light;
            font-size: 1.2rem;
            transition: color 0.2s ease-in-out;

            &:not(:first-child) {
                margin-left: 1rem;
            }

            &:hover {
                color: $primary-color;
            }
        }

        &__catalog {
            display: flex;
            align-items: center;
            padding: 0.6rem 0.6rem;
            margin-left: 1rem;
            border: 1px solid $text-color-light;
            border-radius: 0.4rem;
            color: $text-color-light;
            transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
                background-color 0.2s ease-in-out;

            &::before {
                content: "";
                width: 20px;
                height: 20px;
                margin-right: 0.6rem;
                background-image: url("@assets/icons/folder.svg");
            }

            &:hover {
                border: 1px solid $primary-color;
                background-color: $primary-color;
            }
        }

        &__cart {
            margin-left: auto;

            &__icon {
                height: 30px;
            }
        }
    }
}
