.main {
    &__content {
        width: $breakpoint-desktop;
        margin: 0 auto;
    }

    &__section {
        margin-top: 1rem;
    }

    &__slider {
        &__image {
            width: 100%;
            border-radius: 1rem;
        }
    }

    &__goods {
        &__content {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            width: 19%;
            padding: 1rem 1rem 6rem;
            border: 1px solid red;
        }
    }

    &__hit {
        &__content {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            width: 16%;
            padding: 1rem 1rem 6rem;
            border: 1px solid red;
        }
    }

    &__news {
        &__content {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            width: 24%;
            padding: 1rem 1rem 6rem;
            border: 1px solid green;
        }
    }
}
