// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1240px;

// Typography
$font-size-sm: 10px;
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-l: 22px;
$font-size-x: 24px;
$font-size-xl: 28px;
