.header {
    margin: 0 auto;

    &_content {
        margin: 0 10px;
    }

    &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;

        &__burger {
            height: 30px;
        }

        &__links {
            display: none;
        }

        &__link {
            color: rgb(95, 95, 95);
            font-size: 0.9rem;
            text-decoration: underline;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: rgb(0, 0, 0);
            }

            &:not(:first-child) {
                margin-left: 1rem;
            }
        }

        &__socials {
            display: flex;
            align-items: center;

            &__phone {
                color: $background-color-dark;
                font-size: 1.1rem;
                font-weight: 600;
            }

            &__icon {
                height: 30px;
                margin-left: 1rem;
            }
        }

        @media (min-width: $breakpoint-md) {
            &__links {
                display: block;
            }

            &__burger {
                display: none;
            }
        }
    }

    &_info {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        background-color: $text-color-blue;

        &__logo {
            height: 100px;
        }

        &__search {
            width: 100%;
            height: 40px;
            margin: 10px;
            padding: 10px;
            border: none;
            border-radius: 10px;
            font-size: 1.1rem;
        }

        &__profile {
            display: none;

            &__icon {
                height: 30px;
            }

            // &__auth {
            //     &::before {
            //         content: "Auth";
            //         color: $text-color-light;
            //     }
            // }
        }

        @media (min-width: $breakpoint-md) {
            flex-direction: row;

            &__search {
                margin: 0 40px;
            }

            &__profile {
                display: flex;
                align-items: center;
            }
        }
    }

    &_nav {
        display: none;
        padding: 14px 10px;
        background-color: $text-color-dark;

        &__links {
            display: flex;
            justify-content: space-between;
        }

        &__link {
            color: $text-color-light;
        }

        @media (min-width: $breakpoint-md) {
            display: block;
        }
    }

    @media (min-width: $breakpoint-xxl) {
        max-width: $breakpoint-xxl;
    }
}
