// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// Typography
$font-family: sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Colors
$primary-color: #16b0bf;
$text-color-dark: #333;
$text-color-light: #fff;
$text-color-red: #ff4f4f;
$text-color-blue: #6c93ff;
$background-color-dark: #333;
