// // Global styles
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// body {
//     font-family: $font-family;
//     font-size: $font-size-base;
//     line-height: $line-height-base;
//     color: $text-color;
//     background-color: $background-color;
// }

// .container {
//     max-width: 1200px;
//     margin: 0 auto;
//     padding: 0 $spacing-md;
// }

// // Пример использования переменных
// .button {
//     background-color: $primary-color;
//     color: white;
//     padding: $spacing-sm $spacing-md;
//     border: none;
//     border-radius: 4px;

//     &:hover {
//         background-color: darken($primary-color, 10%);
//     }
// }

// Default theme
@import "@splidejs/react-splide/css";

// or other themes
@import "@splidejs/react-splide/css/skyblue";
@import "@splidejs/react-splide/css/sea-green";

// or only core styles
@import "@splidejs/react-splide/css/core";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: $font-size-base;
}

body {
    // width: $breakpoint-desktop;
}

a {
    text-decoration: none;
}
